{{!-- Main page, introduction --}}
<div id="welcome">
    <p id="welcome_header">
        Welcome to Timers & Notes! Here you can set timers, keep notes, track the time and weather in your city. 
    </p>
</div>    
<script src='js/main.js'></script>
