.preview_bin {
    position: relative;
    left: 160px;
    top: 10px;
    text-decoration: none;
}

.preview_bin,
.bin_inside {
    color: #9e0909;
    font-size: 16.5px;
}

.preview_bin:hover,
.bin_inside:hover {
    color: #e40a0a;
    cursor: pointer;
}

#delete_inside_note_modal,
#delete_note_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    overflow: auto;
}

#delete_note_wrap {
    background-color: #f5f5f5;
    margin: 20% auto;
    height: 110px;
    width: 25%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: open_modal;
    animation-duration: 1s;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

#delete_modal_header {
    margin: 15px 0 0 100px;
    font-size: 20px;
}

#delete_note_wrap a {
    padding: 7px 30px;
    border-radius: 3px;
    margin-right: 20px;
    font-family: sans-serif;
    font-size: 16px;
    outline: none;
    text-decoration: none;
}

.cancel,
.cancel_one,
.delete,
.delete_one {
    border: 1px solid #b5b7b8;
    color: #063844;
}

.cancel:hover,
.cancel_one:hover {
    cursor: pointer;
    background-color: #a7a8a8;
    color: white;
}

.delete:hover,
.delete_one:hover {
    cursor: pointer;
    background-color: #af2121;
    color: white;
}

.buttons {
    margin: 20px 0 0 15%;
}

.bin_inside {
    text-decoration: none;
    font-size: 30px;
    position: absolute;
    top: 15%;
    left: 93%;
}