#preview_note_mode_starred,
#preview_note_mode {
    box-sizing: border-box;
    overflow-y: scroll;
    width: 80%;
}

#preview_note_mode {
    margin: 0% 25% 0 16%;
    height: 300px;
}

#preview_note_mode_starred {
    margin: 10% 25% 0 16%;
    height: 300px;
}

.all_header,
.starred_header {
    font-family: Arial;
    padding: 1px 0 2px 10px;
    font-size: 13px;
    color: rgb(5, 77, 77);
    border: 1.5px solid rgb(5, 77, 77);
    border-radius: 10px;
    background-color: rgba(240, 238, 238, 0.6);
    margin: 0 0 1% 5%;
}

.starred_header {
    width: 5%;
}

.all_header {
    width: 5.5%;
}

.preview_note {
    width: 185px;
    height: 250px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    overflow: hidden;
    float: left;
    margin: 0 0% 4% 5%;
    box-sizing: border-box;
}

.preview_hat {
    width: 100%;
    height: 25%;
    background: radial-gradient(#88521d, #2b1703 80%);
}

#note_preview_name {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    color: #000;
    overflow: hidden;
}

#name_color {
    white-space: nowrap;
    padding: 4px 10px 10px 5px;
}

.loc_symb_prev {
    color: #0c757c;
    font-size: 22px;
    padding: 0px 0 0 13px;
    font-family: 'Indie Flower', cursive;
    position: relative;
    top: -2px;
}

.loc_prev_span {
    font-size: 12.5px;
    position: absolute;
    top: 13%;
    padding-left: 4px;
    white-space: nowrap;
    word-spacing: -1.2px;
    width: 70%;
    overflow: hidden;
}

#note_preview_text {
    font-family: 'Indie Flower', cursive;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: #000;
    position: relative;
    top: -9px;
}

#text_color {
    height: 197px;
    line-height: 1.3em;
    padding: 0px 10px 0 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#text_inside_prev {
    height: 55%;
    overflow-y: scroll;
}

.time_created {
    width: 100%;
    position: absolute;
    top: 90%;
}

#time_created {
    padding: 0 0 0 0px;
    font-size: 15px;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.star_empty,
.star_filled,
.star_checked,
.star2 {
    font-size: 20px;
    position: absolute;
    top: 88%;
    left: 7%;
    text-decoration: none;
}

.star_checked:hover,
.star2:hover,
.star_filled:hover,
.star_empty:hover,
.loc_symb_prev:hover {
    cursor: pointer;
}

.star_checked {
    display: none;
    color: rgb(179, 179, 1);
}

.star2 {
    color: #18c6d3;
}

.star_filled {
    color: rgb(179, 179, 1);
}

.star_empty {
    display: none;
    color: #18c6d3;
}